@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
}html {
    height:100%;
  }
  
  body {
    margin:0;
  }
  
  .bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-65deg, rgb(124, 23, 97) 50%, rgb(176, 28, 132) 40%, rgb(191, 35, 160) 20%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
    opacity: 20%;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;

  }
  
  .bg3 {
    animation-duration:5s;
  
  }
  
 
  
  h1 {
    font-family:monospace;
  }
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }